<form>


       <div class="example-container">
        <mat-form-field>
          <input [(ngModel)] = "email" name="email"  matInput placeholder="Enter your email">
        </mat-form-field>
      </div>
      <div class = "warning" *ngIf = "errorcode == 'auth/invalid-email'">
       {{errormessage}}
      </div>
      <div class = "warning" *ngIf = "required1">
        Required field
       </div>
 
      <div class="example-container">
          <mat-form-field>
            <input [(ngModel)] = "password" name="password"  matInput placeholder="Enter your password">
          </mat-form-field>
        </div>
        <div class = "warning" *ngIf = "errorcode == 'auth/user-not-found'">
          user not found try type again your mail
         </div>
         <div class = "warning" *ngIf = "errorcode == 'auth/wrong-password'">
          Forget your password? try re-type.
         </div>

         <div class = "warning" *ngIf = "required2">
          Required field
         </div>
     
      <div class="example-container">
        <button (click) = "toLogin()" mat-stroked-button color="primary">Login</button>
      </div>
</form>