<div>
<button (click) = "toSignup()">
Signup
</button>
</div>
<div>
<button (click) = "toWelcome()">
 Welcome
</button>
</div>
<div *ngIf = "!(Auth.user | async)">
<button (click) = "toLogin()">
 Login
</button>
</div>

<div *ngIf = "Auth.user | async">
<button (click) = "toLogout()">
Logout  
</button>
</div>
