<div *ngIf = "Auth.user | async">
    <h1>Welcome <br>
      {{(Auth.user | async)?.displayName}}</h1>  
  </div>
  <mat-form-field class="example-container">
    <input  [(ngModel)]= "todo" name = "todo" matInput placeholder="Your todo">
    <mat-hint>Add your todo</mat-hint>
  </mat-form-field>

  <div class="example-container">
    <button (click) = "sendTodo()" mat-stroked-button color="primary">Add todo</button>
  </div>
  <br>
  <h2>List of todo:</h2>

  <mat-form-field>
    <mat-select (selectionChange) = "sort()" placeholder="Sort todo" [(ngModel)]="sorting">
      <mat-option>None</mat-option>
      <mat-option value="1">Todo that done first</mat-option>
      <mat-option value="2">Needed to do first</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click) = "orderDB()" *ngIf="showall">remove what done</button>
  <button (click) = "showall1()" *ngIf = "!showall">Show full list</button> <div></div>
<ul *ngIf = "!showall">
  <todo *ngFor = "let todo of filtertodos"  [data] = "todo">
    
  </todo>
</ul>

<ul *ngIf = "showall">
    <todo *ngFor = "let todo of todos" [data] = "todo" >
    </todo>
  </ul>





  
  
 
  <!--
  <p>Auth user fill by auth.state in the auth servise</p>
  <button (click) = "try()">Authuser log</button>
  -->