<h1>Signup </h1>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "name" name = "name" matInput placeholder="First name">
    <mat-hint>Your first name</mat-hint>
  </mat-form-field>

  <div *ngIf = "show1" class="warn">
    <p>required field</p>
    </div>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "email" name = "email" matInput placeholder="Email">
    <mat-hint>Your Email</mat-hint>
    <mat-error *ngIf="errorcode == 'auth/invalid-email'">{{errormessage}}</mat-error>
  </mat-form-field>
  <div *ngIf = "show2" class="warn">
    <p>required field</p>
    </div>
  <mat-form-field class="example-full-width">
      <input  [(ngModel)]= "password" name = "password" matInput placeholder="Password">
      <mat-hint>Try as strongs as possible include @ or #</mat-hint>
      <mat-error *ngIf="errorcode == 'auth/weak-password'">{{errormessage}}</mat-error>
    </mat-form-field>
    <div *ngIf = "show5" class="warn">
      <p>u need include @ or #</p>
      </div>

    <div *ngIf = "show3" class="warn">
      <p>required field</p>
      </div>
 <button (click) = "toSignup()">Signup</button>
</form>


<div *ngIf = "errorcode == 'auth/invalid-email' ">
  <p>{{errormessage}}</p>
  </div>

  <div *ngIf = "errorcode == 'auth/weak-password' ">
    <p>{{errormessage}}</p>
    </div>
