<li> 
    <span (click) = "update()" *ngIf = "!showUpdate">  {{text}} </span>

    <div *ngIf = "showUpdate">
            <mat-form-field>
              <input [(ngModel)] = "text" name="text"  matInput placeholder="Enter your todo">
            </mat-form-field>
    </div>

    <button *ngIf = "showUpdate" (click) = "cancelDelete()">cancel</button>
    --
    <button *ngIf = "showUpdate" (click) = "saveUpdate()">save</button>
    --

    <button (click) = "delete()">Delete</button> 

    <mat-checkbox (change)="checked()" [(ngModel)]="done" name="done"> Check if done </mat-checkbox>
    
</li>